:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #252525;
}

button {
  background-color: #31bbcc;
  padding: 15px;
  border-style: solid;
  border-radius: 8px;
  color: white;
  font-size: 20px;
}

button:hover {
  background-color: #3cdaed;
    box-shadow:
    0 0 0 5px hsl(0, 0%, 90%),
    0 0 0 10px hsl(0, 0%, 100%);
}
