:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #252525;
}

button {
  background-color: #2b85ba;
  padding: 15px;
  border-style: solid;
  border-color: #3193cc;
  border-radius: 8px;
  color: white;
  font-size: 25px;
}
