:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #252525;
}

/* Base Buttons */
.btn {
  background-color: #3dc2be; 
  padding: 11px;
  border-style: solid;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}

.btn:hover {
  box-shadow:
    0 0 0 5px hsl(0, 0%, 90%),
    0 0 0 10px hsl(0, 0%, 100%);
}

.btn-outline {
  background-color: transparent;
  border-color: #3dc2be;
  color: #3dc2be;
}

.btn-outline:hover {
  background-color: transparent;
    box-shadow:
    0 0 0 5px hsl(0, 0%, 90%),
    0 0 0 10px hsl(0, 0%, 100%);
}

/* Button Color Variations */
.btn-primary {
  background-color: #31bbcc;
}

.btn-primary:hover {
  background-color: #3cdaed;
}

.btn-secondary {
  background-color: #3b8fdf;
}

.btn-secondary:hover {
  background-color: #45a0f5;
}

.btn-outline.btn-primary {
  background-color: transparent;
  border-color: #31bbcc;
  color: #31bbcc;
}

.btn-outline.btn-secondary {
  background-color: transparent;
  border-color: #3b8fdf;
  color: #3b8fdf;
}
